<div class="text-center">
<h1>ONE 2 ONE WEBRTC VIDEO CALL</h1>
<span class="col-lg-6"><%= link "Goto Caller Page", to: caller_path(@conn, :index), class: "btn btn-primary", style: "width: 180px" %></span>
<span class="col-lg-6"><%= link "Goto Callee Page", to: callee_path(@conn, :index), class: "btn btn-danger", style: "width: 180px" %></span>
</div>